:root {
    --main-bg-color: rgba(29, 44, 58, 0.97);
    --content-text-color: #ffffffe8;
    --header-text-color: #ffffff;
    --topnav-text-shadow-color: rgba(149, 157, 165, 0.75); 
    --topnav-height: 140px;
    --footer-height: 80px;
    --font-family-header: "monospace", monospace;
    --font-family-body: "monospace", monospace;
    --box-shadow-color: rgba(149, 157, 165, 0.2);
    --div-background-color: rgba(29, 44, 58, 0.822);
}

@media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }

body {
    overflow-y: auto;
    background-color: var(--main-bg-color) !important;
    color: var(--header-text-color) !important;
}

#background{
  height: 130%;
  width: 100%;
  position: absolute;
  z-index: -1;
}

.topnav {
    width: auto;
    height: var(--topnav-height);
}

.topnav h2 {
    padding: 40px 40px 10px 40px;
    font-size: 180%;
    font-family: var(--font-family-header);
    font-weight: bold;
    /* box-shadow: var(--box-shadow-color) 0px 4px 20px; */
}

.contact {
    width: fit-content;
    margin: 0px 20px 40px 40px;
    padding: 20px;
    border-radius: 10px;
    font-family: var(--font-family-body);
    background-color: var(--div-background-color);
}

.contact a {
    color: var(--header-text-color) !important;
}

.projects {
    margin: 20px 20px 20px 40px;
    font-size: 120%;
    font-weight: bold;
    font-family: var(--font-family-header);
}

#line {
    margin-right: 10px;
    margin-top: 10px;
    padding: 20px 5px 20px 5px;
    height: 490px;
    float: left;
    border-left: 3px solid var(--content-text-color);
}

.project {
    overflow: hidden; 
    width: 700px;
    background-color: var(--div-background-color);
    margin-top: 20px;
    border-radius: 10px;
    font-weight: normal;
    color: var(--content-text-color);
}

#project_logo {
    margin-right: 20px;
    margin-top: 10px;
    margin-left: 20px;
    padding: 20px 5px 20px 5px;
    float: left;
    width: 130px;
    text-align: center;
}

/* #project_logo:hover {
    border: 3px solid rgba(13, 37, 59, 0.356);
    box-shadow: var(--box-shadow-color) 2px 4px 20px;
} */

#project_text{
    padding-top: 40px;
    float: left;
    overflow: hidden;
    font-size: 80%;
}
  
.footer {
    position:absolute;
    bottom:0;
    width: 100%;
    height: var(--footer-height);
    padding-top: 20px;
    /* background-color: red; */
    text-align: center;
    color: var(--content-text-color);
    box-shadow: var(--box-shadow-color) 0px 4px 20px;
}